@model IMS.Models.ItemPrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemPrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
